
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping</title>
  </head>
  <body>
    <h1>Shopping</h1>

    <form action="/checkout" method="post">
      <label>Item to Buy: </label><input type="text" name="item"><br>

      <button type="submit" value="submit">Submit</button>
      <!-- <input type="Submit" name="Submit"> -->
    </form>
  </body>
</html>
