
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Posts</title>
  </head>
  <body>
    <h1>Posts</h1>

    <% @posts.each do |post| %>
      <div class="post">
        <p>Name: <%= post.name %></p><br>
      </div><br>
    <% end %>
  </body>
</html>
